.navbar {
    background-color : transparent;
}
.homepage{
    padding-top: 5%;
    text-align: center;
    h2{
        color: white;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 1px;
        font-weight: 200;
        margin: 0;
        padding: 0;
    }
    h1{
        color: white;
    } 
}
.container{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right:auto;
    margin-left: auto;
        // height: 500px;
}

.Home{
    background: url(./components/image/preview.jpg);
    background-repeat: no-repeat;
    // position: fixed;
    width: 100%;
    //  
    background-size: 100%;
    height: 637px;
}
.DashBoard{
    padding-top: 50px;
    padding-bottom: 50px;
    // background: whitesmoke;
    // position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right:auto;
    margin-left: auto;
    width: 100%;
        // height: 500px;
}
.body{
    width: 100%;
}

.fontSlspd{
    padding-top: 50px;
    font-size: 0.60rem;
}
.fontsM-lspd{
    font-size: 12px;
}

.mr-4{
    float: right;
}
.mr-3{
    float: left;
}

.img-footer{
    float:left
}

.dropdown{
    font-color:white;
}
.mediaBody{
    padding-top: 15%;
}
@media screen and (max-width:680px){
    .Home{
        
    }
}

@media screen and(max-width:680px){
    .Home{
        background: url(./components/image/preview.jpg);
        background-position: center;
        background-size: auto;
    }

}
.carousel{
    -webkit-text-stroke: 0.2px black;
    -webkit-text-fill-color: white;
}